ul.collection(:class="styles.list")
  li.collection-item(v-for="todo in todos" track-by="$index")
    span {{todo}}
  li.collection-item
    form(@submit.prevent="onSubmit")
      div.input-field
        input#new_task(type="text")
        label(for="last_name") Last Name
